html,
body{
    height: 100%;
    position: relative;
    overflow-x: hidden; 
}
body{
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $default;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-fluid{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 30px;
} 
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-size: inherit;
    font-weight: 700;
    font-style: normal;
    color: #363838;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 110px;
    line-height: 134px;
}
h2{
    font-size: 60px;
    line-height: 80px;
}
h3{
    font-size: 36px;
    line-height: 51px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 16px;
}
a, label{
    -webkit-tap-highlight-color: transparent;
}
a,
button:focus,
select:focus {
	box-shadow: none;
    outline: none;
    border: none;
}
button:not(:disabled) {
    cursor: pointer;
    outline: none;
    border: none;
}
input,
select,
textarea{
    outline: none;
    cursor: pointer;
    resize: none;
}
img{
    display: block;
}
.d-flex{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        margin: 0 15px;
    }
    button{
        width: 8px;
        height: 8px;
        background-color: $dark;
        border-radius: 50%;
        padding: 0;
        font-size: 0;
    }
    li.slick-active{
        button{
            background-color: #FFEF35;
        }
    }
}
