@media (max-width: 960px){
    .workflow__items-block {
        justify-content: space-between;
        .workflow__item--production {
            margin-left: 0;
        } 
    }
    .workflow__items .workflow__item--measure{
        margin: 0 auto;
    }
}
@media (max-width: 569px){
    .workflow__items-block {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .workflow__item--production{
            padding-top: 40px;
            padding-left: 0;
        }
    }
}