$default: #363838;
$main-text: #5a5a5a;
$dark: #363838;
$light: #fffff0;
$social-color: #707070;
$line: #6D7278;
$yellow-details: #FFEF35;

@mixin f400{
    font-weight: normal;
}
@mixin f700{
    font-weight: bold;
}
%main-txt{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #5a5a5a;
}
%title-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
}
%title-style{
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;

}
%input-style{
    border-radius: 21px;
    border: 1px solid $dark;
    ::placeholder{
        color: #a1a1a1;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        mix-blend-mode: normal;
        opacity: 0.7;
    }
}
%button-style{
    background-color: #363838;
    border-radius: 21px;
    border: 1px solid $dark;
}
@mixin footer-menu-socials {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
}
%line-style{
    position: relative;
    &:after{
        position: absolute;
        content: '';
        height: 1px;
        background-color: $line;
        max-width: 200px;
        width: 100%;
        left: 0; 
    }
}
@mixin breadcrumbs-style {
    height: 55px;
    width: 100%;
    background-color: #dfdfdf;
    opacity: 0.5;
    ul{
        display: flex;
        justify-content: flex-start;
    }
    ul>li>a{
        color: $main-text;
    }
}