@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    &__inner{
        height: 120px;
    }
    &__btn{
        background-color: transparent;
        border: none;
    }
}
.logo,
.logo-big{
    margin: 0 auto;
}
.menu{
   padding-right: 15px;
    &__list-item{
        padding-left: 35px;
        padding-right: 45px;
        .menu__list-link{
            color: rgba(54, 56, 56, 0.9033);
            line-height: 22px;
            @extend %title-font;
        }
    }
}
.rightside-menu{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 694px;
    width: 100%;
    background-color: #fff;
    padding: 40px;
    box-shadow: -1px -2px 5px 0 rgba(0, 0, 0, 0.36) inset;
    overflow: auto;
    transition: all 0.6s;
    &.rightside-menu--close{
        transform: translateX(1000%);
    }
    &__close{
        background-color: transparent;
        border: none;
        padding: 0;
        margin-left: 7px;
        margin-bottom: 57px;
        cursor: pointer;
    }
    .logo-big > img{
        width: 194px;
        height: 58px;
        margin-bottom: 40px;
        margin: 0 auto;
        display: inline-block;
    }
    &__content{
        text-align: center;
        margin: 0 auto;
        max-width: 485px;
        .rightside-menu__title{
            @extend %title-font;
            color: $dark;
            padding-bottom: 15px;
            position: relative;
            &:after{
                position: absolute;
                content: '';
                height: 1px;
                background-color: $line;
                max-width: 252px;
                width: 100%;
                bottom: 0;
                left: 25%;
            }
        }
        .rightside-menu__txt{
            margin-bottom: 75px;
            color: $main-text;
            @extend %main-txt;
        }
        .rightside-menu__img{
            max-width: 485px;
            width: 100%;
            display: inline-block;
        }
    
    }
}

/* HEADER end*/
/*TOP SECTION start*/
.top{
    &__slider{
        &-item{
            background-image: url(../images/main-page/main_slider-bg.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            justify-content: center;
        }
        &-img{
            max-width: 703px;
            width: 100%;
            height: 815px;
            margin-left: -171px;
        }
        &-info{
            .top__info-title{
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                max-width: 635px;
                padding-top: 174px;
                padding-bottom: 53px;
                @extend %title-font;
                &:after{
                    position: absolute;
                    content: '';
                    height: 1px;
                    background-color: $line;
                    max-width: 185px;
                    width: 100%;
                    bottom: 26px;
                    right: 43%;
                }
            }
            .top__info-text{
                max-width: 586px;
                margin-bottom: 146px;
            }
        }
    }

}
/*TOP SECTION end*/
/* FOOTER start*/
.footer{
    &__top{
        background-color: #DFDFDF;
        padding: 60px 0 80px;
    }
    &__inner{
        .footer__contact{
            &-title{
                @extend %title-font;
                @extend %title-style;
                margin-bottom: 14px;
                color: $dark;
            }
            &-txt{
                @extend %main-txt;
                margin-bottom: 16px;
                max-width: 476px;
            }
            &-mail{
                color: $dark;
                font-weight: 600;
                font-size: 14px;
                line-height: 28px;
                margin-bottom: 22px;
                display: inline-block;
                padding-left: 30px;
                position: relative;
                &:before{
                    position: absolute;
                    content: url(../images/icons/envelope.svg);
                    left: 0;
                    top: 5%;
                }
            }
        }
    }
    &__form{
        display: flex;
        &-input{
            width: 100%;
            max-width: 368px;
            padding: 6px 9px 6px 18px;
            background-color: #DFDFDF;
            @extend %input-style;
            ::placeholder{
                color: #a1a1a1;
                @extend %main-txt;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                mix-blend-mode: normal;
                opacity: 0.7;
            }
        }
        &-button{
            @extend %button-style;
            min-width: 160px;
            margin-left: 9px;
            color: $light;
            padding: 6px 12px;
            text-align: center;
            font-weight: 600;
        }
    }
}
.social__list{
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
}
.footer__menu{
    width: 125px;
    margin-right: 60px;
    &-item{
        padding-left: 0;
        margin-bottom: 14px;
    }
}
.social__list li a,
.footer__menu-list li a {
    @include footer-menu-socials; 
}
.social__item{
    margin-bottom: 14px;
    position: relative;
    padding-left: 28px;
}
.facebook:before{
    position: absolute;
    content: url(../images/icons/facebook.svg);
    left: 0px;
    top: 10%;
}
.instagram:before{
    position: absolute;
    content: url(../images/icons/instagram.svg);
    left: 0px;
    top: 10%;
}
.pinterest:before{
    position: absolute;
    content: url(../images/icons/pinterest.svg);
    left: 0px;
    top: 10%;
}
.whatsapp:before{
    position: absolute;
    content: url(../images/icons/whatsapp.svg);
    left: 0px;
    top: 5%;
}
.youtube:before{
    position: absolute;
    content: url(../images/icons/youtube.svg);
    left: 0px;
    top: 5%;
}
.footer__bottom{
    background-color: #363838; 
    &-txt{
        padding: 42px 0 41px;
        @extend %main-txt;
        text-align: center;
        color: #A1A1A1;
        line-height: 28px;
    }
}


@import 'media';