@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
    &__inner{
        height: 120px;
    }
    &__btn{
        background-color: transparent;
        border: none;
    }
}
.logo,
.logo-big{
    margin: 0 auto;
}
.menu{
   padding-right: 15px;
    &__list-item{
        padding-left: 35px;
        padding-right: 45px;
        .menu__list-link{
            color: rgba(54, 56, 56, 0.9033);
            line-height: 22px;
            @extend %title-font;
        }
    }
}
.rightside-menu{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 694px;
    width: 100%;
    background-color: #fff;
    padding: 40px;
    box-shadow: -1px -2px 5px 0 rgba(0, 0, 0, 0.36) inset;
    overflow: auto;
    transition: all 0.6s;
    z-index: 18;
    min-height: 3260px;
    height: 100%;
    &.rightside-menu--close{
        transform: translateX(500%);
    }
    &__close{
        background-color: transparent;
        border: none;
        padding: 0;
        margin-left: 7px;
        margin-bottom: 57px;
        cursor: pointer;
    }
    .logo-big > img{
        width: 194px;
        height: 58px;
        margin-bottom: 40px;
        margin: 0 auto;
        display: inline-block;
    }
    &__content{
        text-align: center;
        margin: 0 auto;
        max-width: 485px;
        .rightside-menu__title{
            @extend %title-font;
            color: $dark;
            padding-bottom: 15px;
            position: relative;
            &:after{
                position: absolute;
                content: '';
                height: 1px;
                background-color: $line;
                max-width: 252px;
                width: 100%;
                bottom: 0;
                left: 25%;
            }
        }
        .rightside-menu__txt{
            margin-bottom: 75px;
            color: $main-text;
            @extend %main-txt;
        }
        .rightside-menu__img{
            max-width: 485px;
            width: 100%;
            display: inline-block;
        }
    }
}
/* HEADER end*/
/*TOP SECTION start*/
.top{
    &__inner{
        margin-bottom: 70px;
    }
    &__slider{
        &-item{
            background-image: url(../images/main-page/main_slider-bg.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            justify-content: center;
            height: 722px;
            margin-bottom: 85px;
        }
        &-img{
            max-width: 703px;
            width: 100%;
            height: 815px;
            object-fit: cover; 
            margin-left: -171px;
        }
        &-info{
            margin-left: 25px;
            .top__info-title{
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                max-width: 635px;
                padding-top: 174px;
                padding-bottom: 53px;
                @extend %title-font;
                @extend %line-style;
                &:after{
                    max-width: 185px;
                    bottom: 26px;
                }
            }
            .top__info-text{
                max-width: 586px;
                margin-bottom: 146px;
            }
        }
    }
}
.top__slider-item{
    display: flex!important;
}
/*TOP SECTION end*/
// CATALOG SECTION START
.catalog{
    padding-top: 120px;
    margin-bottom: 37px;
    &__inner{
        &-content{
            margin: 0 auto; 
            text-align: center;
        }
        &-title{
            @extend %line-style;
            margin-bottom: 50px;
            &::after{
                bottom: -25px;
                left: 45%;
            }
        }
        &-txt{
            max-width: 730px;
            line-height: 27px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    }
}
.collection{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    &__item{
        position: relative;
        background-color: $line;
        max-width: 350px;
        // flex-basis: calc(20% - 30px);
        // margin-left: 30px;
        
        &:hover{
            .collection__info{
                opacity: 1;
            }
        }
    }
    &__img{
        object-fit: cover;
        min-height: 350px;
        max-width: 350px;
    }
    &__info{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(#fff, 0.7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all .5s;
    }
    &__title{
        @extend %title-font;
        @extend %line-style;
        margin-bottom: 36px;
        text-align: center;
        &::after{
            bottom: -19px;
            width: 80%;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
    }
    &__txt{
        @extend %main-txt;
        font-size: 14px;
        font-weight: f600;
        color: #707070;
    }
}
// CATALOG SECTION end
// ETHIC SECTION START
.ethic{
    background-image: url(../images/main-page/ethic-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 172px 0 156px;
    min-height: 616px;
    max-width: 100%;
    position: relative;
    z-index: -1;
    margin-bottom: 79px;
    &:after{
        content: '';
        background-color: #fff;
        opacity: 0.5;
        min-height: 616px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        border-bottom: 1px solid #000;
        box-shadow: -1px -2px 5px 0 rgba(0, 0, 0, 0.36) inset;
    }
    &__title{
        z-index: 0;
        margin-bottom: 22px;
        padding-bottom: 22px;
        max-width: 730px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            height: 1px;
            background-color: $line;
            max-width: 200px;
            width: 100%;
            left:0; 
            bottom: 0;
        }
    }
    &__txt{
        max-width: 540px;
        z-index: -1;
    }
}
// ETHIC SECTION END
// WORKFLOW SECTION start
.workflow{
    margin: 0 auto;
    padding-bottom: 108px;
    &__title{
        margin-bottom: 39px;
        text-align: center;
    }
    &__items{
        &-block{
            display: flex;
            border-bottom: 2px solid rgba($main-text, .7);
            position: relative;
            margin-bottom: 40px;
            padding-bottom: 20px;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                bottom: -6px;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background-color: $main-text;
            }
            .workflow__item{
                &--production{
                    margin-left: 317px;
                    margin-bottom: 37px;
                    padding-left: 25px;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -58px;
                        height: 20px;
                        width: 2px;
                        background-color: $main-text;
                    }
                }
            }
        }
        .workflow__item{
            width: 250px;
            flex-wrap: wrap;
            align-items: center;
            &-title{
                margin-left: 13px;
            }
            &-txt{
                margin-top: 10px;
            }
            &--measure{
                position: relative;
                margin-left: 306px;
                &::before{
                    content: '';
                    position: absolute;
                    top: -42px;
                    left: 0;
                    height: 20px;
                    width: 2px;
                    background-color: $main-text;
                }
            }
        }
    }
}
// WORKFLOW SECTION end
// gallery section start
.gallery{
    padding: 0px 0px 90px; 
    &__buttons{
        font-size: 14px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        line-height: 28px;
        text-align: center;
        margin-bottom: 40px;
        button{
            color: #8F8D8D;
            padding: 6px 16px;
            border: 1px solid #dadada;
            border-radius: 24px;
            background-color: transparent;
            margin: 0 13px;
        }
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 30px 35px;
    }
    &__item{
        background-color: #bababa;
        img{
            height: 50%;
            max-height: 560px;
        }
        img:first-child{
            object-fit: cover;
            height: 100%;
            max-height: 1148px;
            width: 100%;
        }
    }
    &__item:first-child{
        grid-column: span 2;
        grid-row: span 2;
    }
    .mixitup-control-active{
        background-color: #FFEF35;
        color: $default;
        border: 1px solid #ffef35;
    }
}

// gallery section end
//FOOTER start
.footer{
    &__top{
        background-color: #DFDFDF;
        padding: 60px 0 80px;
    }
    &__inner{
        .footer__contact{
            &-title{
                @extend %title-font;
                @extend %title-style;
                margin-bottom: 14px;
                color: $dark;
            }
            &-txt{
                @extend %main-txt;
                margin-bottom: 16px;
                max-width: 476px;
            }
            &-mail{
                color: $dark;
                font-weight: 600;
                font-size: 14px;
                line-height: 28px;
                margin-bottom: 22px;
                display: inline-block;
                padding-left: 30px;
                position: relative;
                &:before{
                    position: absolute;
                    content: url(../images/icons/envelope.svg);
                    left: 0;
                    top: 5%;
                }
            }
        }
    }
    &__form{
        display: flex;
        &-input{
            width: 100%;
            max-width: 368px;
            padding: 6px 9px 6px 18px;
            background-color: #DFDFDF;
            @extend %input-style;
            ::placeholder{
                color: #a1a1a1;
                @extend %main-txt;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                mix-blend-mode: normal;
                opacity: 0.7;
            }
        }
        &-button{
            @extend %button-style;
            min-width: 160px;
            margin-left: 9px;
            color: $light;
            padding: 6px 12px;
            text-align: center;
            font-weight: 600;
        }
    }
}
.social__list{
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
}
.footer__menu{
    width: 125px;
    margin-right: 60px;
    &-item{
        padding-left: 0;
        margin-bottom: 14px;
    }
}
.social__list li a,
.footer__menu-list li a {
    @include footer-menu-socials; 
}
.social__item{
    margin-bottom: 14px;
    position: relative;
    padding-left: 28px;
}
.facebook:before{
    position: absolute;
    content: url(../images/icons/facebook.svg);
    left: 0px;
    top: 10%;
}
.instagram:before{
    position: absolute;
    content: url(../images/icons/instagram.svg);
    left: 0px;
    top: 10%;
}
.pinterest:before{
    position: absolute;
    content: url(../images/icons/pinterest.svg);
    left: 0px;
    top: 10%;
}
.whatsapp:before{
    position: absolute;
    content: url(../images/icons/whatsapp.svg);
    left: 0px;
    top: 5%;
}
.youtube:before{
    position: absolute;
    content: url(../images/icons/youtube.svg);
    left: 0px;
    top: 5%;
}
.footer__bottom{
    background-color: #363838; 
    &-txt{
        padding: 42px 0 41px;
        @extend %main-txt;
        text-align: center;
        color: #A1A1A1;
        line-height: 28px;
    }
}


@import 'media';